* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border: 0px;
}

/* header 부분 CSS */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    padding-top: 20px;
    transform: translateX(-50%);
    z-index: 101;
    display: flex;
    background: rgb(247, 241, 241);
    justify-content: space-evenly;
    align-items: flex-start;
    width: 85.4%;
    height: 80px;
}

.logo-part {
    width: 30%;
    height: 100%;
    background: rgb(239, 234, 234);
    position: relative;
}

.search-part {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgb(250, 246, 246);
}

.login-part {
    width: 20%;
    height: 100%;
    background: rgb(241, 239, 239);
}

/* logo-part css */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
}

.logo-picture {
    background-image: url(../assets/logo.png);
    background-size: 100% 100%;
    width:  30%;
    height: 100%;
}

.logo-letter {
    background-image: url(../assets/logo2.png);
    background-size: 100% 100%;
    width: 60%;
    height: 100%;
}

/* search-part css */
.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
}

.search-area {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgb(205, 191, 191);
    transition: all 0.4s;
    overflow: hidden;
}

.search-area-expand {
    height: 200px;
}

.search-window {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}

.search-icon {
    background-image: url(../assets/search.png);
    background-size: 100% 100%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.search-field {
    width: 80%;
    height: 100%;
    background: transparent;
    padding-left: 5px;
    text-align: left;
    font-size: 22px;
}

.search-field:focus {
    outline: none;
}

.search-field:focus::placeholder {
    color: transparent;
}

/* search log part */
.search-log {
    margin: 0px;
    width: 100%;
    height: auto;
}

.search-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    margin-right: 10px;
    transition: all 0.4s;
}

.search-line:hover {
    background-color: rgb(132, 136, 132);
}

.search-log-icon {
    background-image: url(../assets/history.png);
    background-size: 100% 100%;
    width: 23px;
    height: 20px;
    margin: 10px 10px;
}

.search-log-content {
    margin: 0px;
    margin-right: 10px;
    text-align: left;
    width: 80%;
    height: 40px;
    line-height: 40px;
}


/* login-part css */
.profile-container {
    position: relative;
    width: 80%;
    height: 100%;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/profile.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.login-container {
    display: none;
}

.header-hidden {
    /* z-index: 100; */
    margin-top: 20px;
    width: 85%;
    height: 80px;
}

/* content css */
.content {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    background-color: white;
    width: 85%;
    height: auto;
    border: 1px solid white;
}

.select-tag {
    position: relative;
    width: 95%;
    height: 40px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(245, 237, 237);
}

/* movie-list css */
.movie-list {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    row-gap: 10px;
}

.movie-block {
    border: 1px solid black;
    border-radius: 10px;
    width: 180px;
    height: 292px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(245, 237, 237);
}

.movie-content {
    display: flex;
    width: 160px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.movie-poster {
    border-radius: 5px;
    width: 160px;
    height: 239px;
    background: rgb(221, 215, 229);
}

.movie-info {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-rate {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 0px 0px;
}

.movie-star {
    background-image: url(../assets/star.png);
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    margin-right: 0px;
}

.movie-num {
    margin-left: 5px;
    margin-right: 3px;
    text-align: left;
}

.movie-title {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 0px;
    text-align: left;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}