.side-bar {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    width: 150px;
    height: 440px;
    left: 10px;
    overflow-y: auto;
}

.side-bar::-webkit-scrollbar {
    /* display: none; */
}

.tag-div {
    flex: 0 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 30px;
    border: 1px solid red;
}

.select-tag {
    background-color: aqua;
}

.tag-div:last-child {
    margin-bottom: 20px;
}