@font-face {
    font-family: 'Lora-Regular';
    src: url('./styles/Lora-Regular.ttf') format('truetype');
}

body {
    background: rgb(49, 6, 79);
    font-family: 'Lora-Regular';

    height: auto;
}

.App {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* 버튼 사이 간격 */
}

button:hover {
    background-color: #0056b3;
}
